{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block main %}
<div class="container my-5">
    <div class="text-center"><img src="{% static 'img/logo.png' %}" width="100px"></div>
    <form  method="post" novalidate>
    {% csrf_token %}
    <div class="row d-flex justify-content-center" style="direction:rtl;">
      {% for field in form %}
        <div class="mb-3 col-md-7 text-right">
          {{field.label_tag}}
          {% if form.is_bound %}
                  {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                  <div class="invalid-feedback">{{error}}</div>
                  {% endfor %}
                  {% else %}
                  {% render_field field class="form-control is-valid" %}
                  {% endif %}
                {% else %}
                {% render_field field class="form-control form-control-lg" %}
                {% endif %}
        </div>
        {% endfor %}

        <div class="mb-3 col-md-7">
        <button type="submit" class="btn btn-success">تسجيل الدخول</button>
        </div>
    </div>
      </form>
</div>

{% endblock main%}